* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN PLAYER */
.music-app {
    width: 420px;
    height: 90vh;
    max-height: 820px;

    background:
        linear-gradient(rgba(2,6,23,.88), rgba(2,6,23,.88)),
        url("Images/bg.jpg") center/cover no-repeat;

    padding: 18px;
    color: white;
    border-radius: 22px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    box-shadow: 0 20px 60px rgba(0,0,0,0.7);
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #1e293b;
}

.header img {
    width: 36px;
}

.header h1 {
    font-size: 24px;
    color: #1db954;
}

/* NOW PLAYING */
.now-playing {
    text-align: center;
    margin-top: 10px;
}

.now-playing img {
    width: 135px;
    height: 135px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 6px;
}

.now-playing h2 {
    font-size: 18px;
}

/* PROGRESS */
#progress {
    margin: 12px 0;
}

/* CONTROLS */
.controls {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 8px;
}

.controls button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: none;
    background: #1db954;
    font-size: 18px;
    cursor: pointer;
}

/* PLAYLIST */
.playlist-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    min-height: 0;
}

.playlist-box h3 {
    margin-bottom: 6px;
    font-size: 15px;
    opacity: 0.8;
}

.playlist {
    flex: 1;
    overflow-y: auto;
    padding-right: 6px;
}

/* SCROLLBAR */
.playlist::-webkit-scrollbar {
    width: 6px;
}

.playlist::-webkit-scrollbar-thumb {
    background: #1db954;
    border-radius: 10px;
}

/* SONG */
#playlist li {
    list-style: none;
    padding: 11px;
    margin-bottom: 6px;
    border-radius: 6px;
    cursor: pointer;
    background: rgba(255,255,255,0.06);
    font-size: 14px;
}

#playlist li:hover,
#playlist li.active {
    background: #1db954;
    color: black;
    font-weight: bold;
}
@media (max-width: 768px) {
    .music-app {
        width: 95vw;       
        height: 95vh;      
        border-radius: 16px;
    }

    .now-playing img {
        width: 150px;
        height: 150px;
    }

    .header h1 {
        font-size: 22px;
    }
}

