* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.app {
    display: flex;
    height: 100vh;
    width: 100vw;

    /* Full background image */
    background: url("Images/bg.jpg") no-repeat center center/cover;

    /* Layout */
    justify-content: flex-start;   
    align-items: center;           

    padding-left: 8vw;             
}

.music-app {
    width: 420px;
    max-width: 95%;
    max-height: 90vh;

    background: rgba(2, 6, 23, 0.96);
    padding: 20px 20px 15px;
    color: white;

    display: flex;
    flex-direction: column;

    border-radius: 20px;       
    overflow: hidden;

    box-shadow: 0 20px 60px rgba(0,0,0,0.6);
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #1e293b;
}

.header img {
    width: 45px;
    height: 45px;
}

.header h1 {
    font-size: 26px;
    font-weight: bold;
    color: #1db954;
}


.now-playing {
    text-align: center;
    margin-top: 8px;   
}

.now-playing h2 {
    font-size: 20px;
}

.now-playing img {
    width: 160px;      
    height: 160px;     
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 6px; 
}

#progress {
    width: 100%;
    margin: 15px 0;
}


.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.controls button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: #1db954;
    color: black;
}

.playlist-box {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex: 1;
    min-height: 0; 
}

.playlist-box h3 {
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.playlist {
    overflow-y: auto;
    padding-right: 6px;
    padding-top: 5px;
    min-height: 110px;
    max-height: 220px; 
}

.playlist::-webkit-scrollbar {
    width: 6px;
}

.playlist::-webkit-scrollbar-thumb {
    background: #22c55e;
    border-radius: 10px;
}

#playlist li {
    list-style: none;
    padding: 12px;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
}

#playlist li:hover {
    background: #1db954;
    color: black;
}

#playlist li.active {
    background: #1db954;
    color: black;
    font-weight: bold;
}


@media (max-width: 768px) {

    .app {
        justify-content: flex-start; 
        align-items: flex-start;     
        padding-left: 3px;           
        padding-top: 10px;           
    }

    .music-app {
        width: 100%;
        max-width: 420px;
        max-height: 95vh;
        border-radius: 18px;
        padding: 14px;
    }

    .header {
        justify-content: flex-start; 
    }

    .now-playing {
        text-align: left;            
        margin-top: 10px;
    }

    .now-playing img {
        width: 140px;
        height: 140px;
        margin-bottom: 6px;
    }

    .controls {
        margin: 10px 0;
    }

    .playlist-box {
        flex: 1;
        margin-top: 10px;
    }

    .playlist {
        min-height: 160px;
        max-height: 40vh;
    }
}
